.s-button-group {
  display: inline-flex;
}

.s-button-group:not(:last-child) {
  margin-right: 10px;
}

.s-button-group > .s-button {
  margin: 0;
}

.s-button-group > .s-button:not(:last-child) {
  border-bottom-right-radius: 0;
  border-right: 0;
  border-top-right-radius: 0;
}

.s-button-group > .s-button:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.s-button-group > .s-button:not(:first-child):not(.s-button--default) {
  border-left-color: rgba(255, 255, 255, 0.4);
}
