@import './var';

$samll-size: 28px;
$samll-size-padding: 0 10px;
$medium-size: 32px;
$medium-size-padding: 0 12px;
$large-size: 38px;
$large-size-padding: 0 14px;

/* common */
.s-button {
  align-items: center;
  background-color: transparent;
  border: 0;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  justify-content: center;
  line-height: 1;
  margin-right: 10px;
  outline: none;
  user-select: none;

  &[disabled] {
    cursor: not-allowed;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &:not(.s-button__text):active {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  }

  &:not(.s-button__default):not(.s-button__text) {
    color: $slack-color-default;
  }

  > * {
    pointer-events: none;
  }

  /* default */
  &__default {
    background-color: $slack-color-default;
    border: 1px solid $slack-border-color-normal;
    color: $slack-text-color-normal;

    &:hover {
      background-color: rgb(249, 250, 251);
    }

    &:active {
      background-color: rgb(243, 244, 246);
    }

    &.s-button__loading,
    &[disabled] {
      background-color: transparent;
      color: rgb(209, 213, 219);
    }
  }

  /* primary */
  &__primary {
    background-color: var(--slack-color-primary, transparentize($slack-color-primary, 0));

    &:hover {
      background-color: var(--slack-color-primary-hover, transparentize($slack-color-primary, 0.2));
    }

    &:active {
      background-color: var(--slack-color-primary-active, transparentize($slack-color-primary, 0.1));
    }

    &.s-button__loading,
    &[disabled] {
      background-color: var(--slack-color-primary-disabled, transparentize($slack-color-primary, 0.4));
    }
  }

  /* success */
  &__success {
    background-color: var(--slack-color-success, transparentize($slack-color-success, 0));

    &:hover {
      background-color: var(--slack-color-success-hover, transparentize($slack-color-success, 0.2));
    }

    &:active {
      background-color: var(--slack-color-success-active, transparentize($slack-color-success, 0.1));
    }

    &.s-button__loading,
    &[disabled] {
      background-color: var(--slack-color-success-disabled, transparentize($slack-color-success, 0.4));
    }
  }

  /* danger */
  &__danger {
    background-color: var(--slack-color-danger, transparentize($slack-color-danger, 0));

    &:hover {
      background-color: var(--slack-color-danger-hover, transparentize($slack-color-danger, 0.2));
    }

    &:active {
      background-color: var(--slack-color-danger-active, transparentize($slack-color-danger, 0.1));
    }

    &.s-button__loading,
    &[disabled] {
      background-color: var(--slack-color-danger-disabled, transparentize($slack-color-danger, 0.4));
    }
  }

  /* text */
  &__text {
    color: var(--slack-color-primary, transparentize($slack-color-primary, 0));

    &:hover {
      color: var(--slack-color-primary-hover, transparentize($slack-color-primary, 0.2));
    }

    &:active {
      color: var(--slack-color-primary-hover, transparentize($slack-color-primary, 0.1));
    }

    &.s-button__loading,
    &[disabled] {
      color: var(--slack-color-primary-hover, transparentize($slack-color-primary, 0.4));
    }
  }

  /* samll size */
  &__small {
    font-size: 12px;
    height: $samll-size;
    padding: $samll-size-padding;
  }

  /* medium size */
  &__medium {
    height: $medium-size;
    padding: $medium-size-padding;
  }

  /* large size */
  &__large {
    height: $large-size;
    padding: $large-size-padding;
  }

  /* round */
  &__round {
    border-radius: 50%;
    padding: 0;

    &.s-button__small {
      width: $samll-size;
    }

    &.s-button__medium {
      width: $medium-size;
    }

    &.s-button__large {
      width: $large-size;
    }
  }

  /* icon */
  &__icon {
    font-size: inherit;
  }

  &__icon__left {
    .s-button__icon {
      order: 0;
    }

    &.s-button__small .s-button__icon {
      margin-right: 4px;
    }

    &.s-button__medium .s-button__icon {
      margin-right: 6px;
    }

    &.s-button__large .s-button__icon {
      margin-right: 8px;
    }
  }

  &__icon__right {
    .s-button__icon {
      order: 1;
    }

    &.s-button__small .s-button__icon {
      margin-left: 4px;
    }

    &.s-button__medium .s-button__icon {
      margin-left: 6px;
    }

    &.s-button__large .s-button__icon {
      margin-left: 8px;
    }
  }

  /* block */
  &__block {
    display: flex;
    margin: 0;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  /* loading */
  &__loading {
    overflow: hidden;
    pointer-events: none;
    position: relative;

    &:not(.s-button__text)::before {
      animation: s-button__loading__animation 1s ease infinite;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      content: '';
      padding-top: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
    }
  }
}

@keyframes s-button__loading__animation {
  0% {
    opacity: 1;
    transform: translateY(-50%) scale(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-50%) scale(1);
  }
}
