@import './var';

.s-menu-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  position: relative;
  transition: all 0.4s;
  user-select: none;
  z-index: 1;
}

.s-menu--light .s-menu-item {
  color: $slack-text-color-normal;
}

.s-menu--light .s-menu-item--active,
.s-menu--light .s-menu-item:hover {
  color: $slack-color-primary;
}

.s-menu--light.s-menu--horizontal .s-menu-item {
  border-bottom: 2px solid transparent;
}

.s-menu--light.s-menu--horizontal .s-menu-item--active,
.s-menu--light.s-menu--horizontal .s-menu-item:hover {
  border-bottom: 2px solid $slack-color-primary;
}

.s-menu--light.s-menu--vertical .s-menu-item {
  border-right: 2px solid transparent;
}

.s-menu--light.s-menu--vertical .s-menu-item--active {
  background-color: #eff6ff;
}

.s-menu--light.s-menu--vertical .s-menu-item--active,
.s-menu--light.s-menu--vertical .s-menu-item:hover {
  border-right: 2px solid $slack-color-primary;
}

.s-menu--dark .s-menu-item {
  color: #f3f4f6;
}

.s-menu--dark .s-menu-item--active {
  background-color: #374151;
  color: $slack-color-primary;
}

.s-menu--dark .s-menu-item:hover {
  color: $slack-color-primary;
}

.s-menu--horizontal .s-menu-item {
  border-bottom: 2px solid transparent;
  line-height: 48px;
  padding: 0 24px;
}

.s-menu--vertical .s-menu-item {
  border-right: 2px solid transparent;
  line-height: 46px;
  padding-right: 24px;
}
