@import "./var.scss";

.s-menu {
  position: relative;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  color: $s-text-color-normal;

  &__horizontal {
    flex-direction: row;
    flex-wrap: wrap;

    // &::after {
    //   content: "";
    //   position: absolute;
    //   height: 1px;
    //   left: 0;
    //   bottom: 0;
    //   width: 100%;
    //   background-color: $s-border-color-normal;
    // }
  }

  &__vertical {
    flex-direction: column;
    // height: 100%;
    
    // &::after {
    //   content: "";
    //   position: absolute;
    //   width: 1px;
    //   right: 0;
    //   height: 100%;
    //   background-color: $s-border-color-normal;
    // }
  }
}
