@import './var';

.s-menu-group--title {
  align-items: center;
  color: $slack-text-color-light;
  display: flex;
  font-size: 12px;
  margin: 8px 0;
  padding-right: 24px;
}

.s-menu-group ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
