@import "./var.scss";

.s-menu {
  position: relative;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  
  &__light {
    background-color: #FFFFFF;

    &::after {
      content: "";
      position: absolute;
      background-color: $slack-border-color-normal;
    }
  }

  &__dark {
    background-color: #4B5563;
  }

  &__horizontal {
    flex-direction: row;
    flex-wrap: wrap;

    &.s-menu__light::after {
      height: 1px;
      left: 0;
      bottom: 0;
      width: 100%;
    }
  }

  &__vertical {
    flex-direction: column;
    
    &.s-menu__light::after {
      width: 1px;
      right: 0;
      top: 0;
      height: 100%;
    }
  }
}
