@import './var';

.s-popper {
  background-color: #fff;
  border: 1px solid $slack-border-color-normal;
  border-radius: 4px;
  line-height: 1;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  transform: scaleY(50%);
}

.s-popper--arrow,
.s-popper--arrow::before {
  background-color: inherit;
  height: 6px;
  position: absolute;
  width: 6px;
}

.s-popper--arrow {
  visibility: hidden;
}

.s-popper--arrow::before {
  border: 1px solid transparent;
  content: '';
  transform: rotate(45deg);
  visibility: visible;
}

.s-popper[data-popper-placement^='top'] > .s-popper--arrow {
  bottom: -2px;
}

.s-popper[data-popper-placement^='bottom'] > .s-popper--arrow {
  top: -4px;
}

.s-popper[data-popper-placement^='left'] > .s-popper--arrow {
  right: -2px;
}

.s-popper[data-popper-placement^='right'] > .s-popper--arrow {
  left: -4px;
}

.s-popper[data-popper-placement^='top'] > .s-popper--arrow::before {
  border-bottom-color: $slack-border-color-normal;
  border-right-color: $slack-border-color-normal;
}

.s-popper[data-popper-placement^='bottom'] > .s-popper--arrow::before {
  border-left-color: $slack-border-color-normal;
  border-top-color: $slack-border-color-normal;
}

.s-popper[data-popper-placement^='left'] > .s-popper--arrow::before {
  border-right-color: $slack-border-color-normal;
  border-top-color: $slack-border-color-normal;
}

.s-popper[data-popper-placement^='right'] > .s-popper--arrow::before {
  border-bottom-color: $slack-border-color-normal;
  border-left-color: $slack-border-color-normal;
}
