.s-menu__horizontal .s-sub-menu {
  padding: 0 24px;
  line-height: 48px;
  border-bottom: 2px solid transparent;
}

.s-menu__horizontal .s-sub-menu__title {
  display: flex;
  align-items: center;
}
