.s-menu--horizontal .s-sub-menu {
  border-bottom: 2px solid transparent;
  cursor: pointer;
  line-height: 48px;
  padding: 0 24px;
}

.s-menu--horizontal .s-sub-menu--arrow {
  margin-left: 4px;
  transform: rotate(90deg);
  transition: all 0.2s;
}

.s-menu--horizontal .s-sub-menu:hover .s-sub-menu--arrow {
  transform: rotate(270deg);
}

.s-menu--horizontal .s-sub-menu--title {
  align-items: center;
  display: flex;
}

.s-menu--light .s-sub-menu--title {
  color: $slack-text-color-normal;
}

.s-menu--light .s-sub-menu--arrow {
  fill: $slack-text-color-normal;
}
