.s-menu__horizontal .s-sub-menu {
  padding: 0 24px;
  line-height: 48px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.s-menu__horizontal .s-sub-menu__arrow {
  transition: all .2s;
  margin-left: 4px;
  transform: rotate(90deg);
}

.s-menu__horizontal .s-sub-menu:hover .s-sub-menu__arrow {
  transform: rotate(270deg);
}

.s-menu__horizontal .s-sub-menu__title {
  display: flex;
  align-items: center;
}

.s-menu__light .s-sub-menu__title {
  color: $slack-text-color-normal;
}

.s-menu__light .s-sub-menu__arrow {
  fill: $slack-text-color-normal;
}
