@import './var';

.s-tooltip {
  display: inline-block;
}

.s-tooltip--content {
  border: 1px solid transparent;
  border-radius: 4px;
  display: none;
  font-size: 14px;
  padding: 4px 10px;
}

.s-tooltip--block {
  display: block;
}

.s-tooltip--light {
  background-color: #fff;
  border-color: $slack-border-color-normal;
  color: $slack-text-color-normal;
}

.s-tooltip--dark {
  background-color: #374151;
  border-color: #374151;
  color: #fff;
}

.s-tooltip--arrow,
.s-tooltip--arrow::before {
  background-color: inherit;
  height: 8px;
  position: absolute;
  width: 8px;
}

.s-tooltip--arrow {
  visibility: hidden;
}

.s-tooltip--arrow::before {
  border: 1px solid transparent;
  content: '';
  transform: rotate(45deg);
  visibility: visible;
}

.s-tooltip--content[data-popper-placement^='top'] > .s-tooltip--arrow {
  bottom: -3px;
}

.s-tooltip--content[data-popper-placement^='bottom'] > .s-tooltip--arrow {
  top: -5px;
}

.s-tooltip--content[data-popper-placement^='left'] > .s-tooltip--arrow {
  right: -3px;
}

.s-tooltip--content[data-popper-placement^='right'] > .s-tooltip--arrow {
  left: -5px;
}

.s-tooltip--light[data-popper-placement^='top'] > .s-tooltip--arrow::before {
  border-bottom-color: $slack-border-color-normal;
  border-right-color: $slack-border-color-normal;
}

.s-tooltip--light[data-popper-placement^='bottom'] > .s-tooltip--arrow::before {
  border-left-color: $slack-border-color-normal;
  border-top-color: $slack-border-color-normal;
}

.s-tooltip--light[data-popper-placement^='left'] > .s-tooltip--arrow::before {
  border-right-color: $slack-border-color-normal;
  border-top-color: $slack-border-color-normal;
}

.s-tooltip--light[data-popper-placement^='right'] > .s-tooltip--arrow::before {
  border-bottom-color: $slack-border-color-normal;
  border-left-color: $slack-border-color-normal;
}
