@import './var';

.s-tooltip {
  border: 1px solid transparent;
  border-radius: 4px;
  display: inline-block;
  line-height: 1;
}

.s-tooltip--light {
  background-color: #fff;
  border-color: $slack-border-color-normal;
  color: $slack-text-color-normal;
}

.s-tooltip--dark {
  background-color: #374151;
  border-color: #374151;
  color: #fff;
}
