/* color */
$slack-color-default: rgba(255, 255, 255, 1);
$slack-color-primary: rgba(96, 165, 250, 1);
$slack-color-success: rgba(52, 211, 153, 1);
$slack-color-danger: rgba(248, 113, 113, 1);

/* text-color */
$slack-text-color-normal: rgba(75, 85, 99, 1);
$slack-text-color-light: rgba(156, 163, 175, 1);

/* border-color */
$slack-border-color-normal: rgba(229, 231, 235, 1);
