html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: rgb(75, 85, 99);
  font-size: 14px;
  line-height: 1.8;
}

code {
  font-family: inherit;
}

img {
  max-width: 100%;
}

.hljs {
  border-radius: 6px;
  font-family: Menlo, Monaco, Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0;
  overflow-x: auto;
  padding: 20px 25px;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(243, 244, 246);
  border-radius: 4px;
}

/* ::-webkit-scrollbar-track {
  background: #eee;
} */

table {
  border-collapse: collapse;
  width: 100%;
}

table,
table tr th,
table tr td {
  border: 1px solid rgb(229, 231, 235);
}

table tr th,
table tr td {
  padding: 10px;
}
